@font-face{
  font-family: Gilroy-Bold;
  src: url(Gilroy-Bold.ttf);
}
@font-face{
  font-family: Gilroy-Medium;
  src: url(Gilroy-Medium.ttf);
}


.nav{
  font-size: 18px;
line-height: 22px;
text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nav:hover,::after,
.nav__link.active{
opacity: 1;
color: #070707;
}

.nav__link:active{
  opacity: 1;
  color: #070707;
}

.nav__link{
  
  display: inline-block;
  color:#A3A4AC;
  text-decoration: none;
  /* transition: color; .2s linear; */
  padding: 30px;
  font-family:"Gilroy-Bold"
}

.nav__link:hover{
  color:Black;
}

.header{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header__iner{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: flex-end;
}

.lagnuage{
transform: rotate(270deg);  
font-size: 16px;
font-family: "Gilroy-Bold";
text-decoration: none;
text-transform: uppercase;
color: #070707;
position: relative;
left: 20px;
bottom: 60px;
}

.ru{
  text-decoration: none;
  text-transform: uppercase;
  color: #828282;
}

.eng{
  text-decoration: none;
  text-transform: uppercase;
  color: #070707;
}

.aboutme{
font-family: "Gilroy-Medium";
font-size: 18px;
line-height: 22px;
color: ##070707;

}

.tittle{
  font-family: "Gilroy-Bold";
  font-size: 34px;
  color: #070707;
}

.font_medium{
  font-family: "Gilroy-Medium";
  font-size: 18px;
  color: #070707
}

.fio{
  font-size: 47px;
  line-height: 59px;

  color: #070707;
  font-family:"Gilroy-Bold"
}

.aboutMe{
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Gilroy-Bold";
}

.my_Photo{
display: block;
padding-bottom: 80px;
width: 100%;
/* transform: rotate(90); */
}

.conteiner_aboutme{
  background: #F6F6F6; 
}
.text{
  background: #F6F6F6;
  padding-top: 35px;
  text-align: center;  
  padding-bottom: 35px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container_skills{
  padding-top: 35px;
  text-align: center;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}



.my_skills{
display: flex;
justify-content: space-around;
padding-bottom: 30px;
}

.text_skill{
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-bottom: 30px;
}


.container_portfolio{
  background: #F6F6F6;
}

.portfolio{
  padding-top: 15px; 
  text-align: center;
  background: #F6F6F6;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio_photo{
  justify-content: center;
  width: 700px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto; 
  padding-bottom: 30px; 
}

.portfolio_text{
  color:#000000;
  font-family: "Gilroy-Medium";
  font-size: 13px; 
  
}

.portfolio_text:after{
  text-decoration: none;
  display: inline-block;

  width: 3px;
  height: 1px;
  background-color: rgb(112, 34, 34);
  position: absolute;
  
}

.top{
  display: inline-block;
  color:#A3A4AC;
  text-decoration: none;
}

.contact{
  padding-top: 35px;
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  
}

.send{
  width: 180px; 
}

.ikonka{
  padding: 30px;
  margin: 0 1px;

}

.end_text{
 font-family: "Gilroy-Medium"; 
margin: 0%;
 color: #828282;
 font-size: 14px;
line-height: 17px;
}