@font-face{
  font-family: Gilroy-Bold;
  src: url(Gilroy-Bold.ttf);
}
@font-face{
  font-family: Gilroy-Medium;
  src: url(Gilroy-Medium.ttf);
}


.nav{
  font-size: 18px;
line-height: 22px;
text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#home{
  position: relative;
  right: 28px;
  top: 4px;
}

#aboutmee{
  position: relative;
  right: 13px;
  top: 4px; 
}

#item{
  margin-top: 1px;
}

#aboutMe{
  margin-bottom: -0.000001px;
}

#portfolioo{
  position: relative;
  left: 16px; 
}

#contactss{
  position: relative;
  left: 34px; 
}

#contacts{
  padding-top: 44px;
  padding-bottom: 25px;
 margin: 0;
}

.contact_text{
  margin: 0;
  font-family: "Gilroy-Medium";
  Size: 18px;
  Line-height: 22px;
  color: #070707
  
}

.nav:hover,::after,
.nav__link.active{
opacity: 1;
color: #070707;
}

.nav__link.active{
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 150px;
}

.nav__link:active{
  opacity: 1;
  color: #070707;
}

.nav__link{ 
  text-transform: capitalize;
  font-size: 18px;
line-height: 22px; 
  position: relative;
  /* left: 20px; */
  color:#A3A4AC;
  text-decoration: none;
  padding: 30px;
  font-family:"Gilroy-Bold"
  
}

.nav__link:hover{
  color:Black;
}

.header{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header__iner{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: flex-end;
}

.lagnuage{
transform: rotate(270deg);  
font-size: 16px;
font-family: "Gilroy-Bold";
text-decoration: none;
text-transform: uppercase;
color: #070707;
position: relative;
left: 24px;
bottom: 50px;
}

.ru{
  text-decoration: none;
  text-transform: uppercase;
  color: #828282;
}

.eng{
  text-decoration: none;
  text-transform: uppercase;
  color: #070707;
}

.aboutme{
  position: relative;
  right: 43px;
  bottom: 27px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: ##070707;

}

.tittle{
  font-family: "Gilroy-Bold";
  font-size: 34px;
  color: #070707;
}

.font_medium{
  font-family: "Gilroy-Medium";
  Size: 18px;
  Line-height: 22px;
  color: #070707
  
}

.fio{
  position: relative;
  bottom: 15px;
  font-size: 47px;
  line-height: 59px;
  color: #070707;
  font-family:"Gilroy-Bold"

}

.aboutMe{
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Gilroy-Bold";
}

.my_Photo{
display: block;
padding-bottom: 103px;
width: 100%;
/* transform: rotate(90); */
}

.conteiner_aboutme{
  background: #F6F6F6; 
}

.aboutme_text{
  background: #F6F6F6;
  padding-top: 73px;
  text-align: center;  
  padding-bottom: 95px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;

}

.container_skills{
  padding-top: 44px;
  text-align: center;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
padding-bottom: 153px;
}



.my_skills{
display: flex;
justify-content: space-around;
padding-top: 27px;
padding-bottom: 70px;
height: 88px;
position: relative;
  right: 20px; 

}

#ps{
  height: 88px;
  width: 88px;
  position: relative;
  right: 10px;
  bottom: 10px;
}

#ps_text{
  position: relative;
  right: 10px;
  bottom: 5px;
}

.star_ps{
  position: relative;
  right: 10px;
  bottom: 10px;
  margin: 0 5px;
}

#ai{
  position: relative;
  left: 10px;
  bottom: 10px;
}

#ai_text{
  position: relative;
  left: 8px;
  bottom: 7px;
}

.star_ai{
  position: relative;
  left: 12px;
  bottom: 12px;
  margin: 0 5px;
}

#figma_photo{
  position: relative;
  left: 55px;
  bottom: 10px;

}

.star_ae{
  position: relative;
  bottom: 12px;
  left: 33px;
  margin: 0 5px;
}

#ae{
  position: relative;
  left: 30px;
  bottom: 10px;
}

#ae_text{
  position: relative;
  left: 33px;
  bottom: 8px;
}

#text_figma{
  position: relative;
  bottom: 23px;
  left: 55px;
}

.star_figma{
position: relative;
bottom: 12px;
margin: 0 5px;
left: 55px;
}


.text_skill{
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-bottom: 30px;
}



.container_portfolio{
  background: #F6F6F6;
 
}

.portfolio{
  padding-top: 73px;
  text-align: center;
  background: #F6F6F6;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 43px;
}

.portfolio_photo{
  justify-content: center;
  width: 940px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto; 
  padding-bottom: 40px; 
}

#second{
padding-top: 102px;
padding-bottom: 25px;
}

#skills{
  padding-bottom: 10px;
}

#text_skil{
  padding-bottom: -8px;
}

#third{
  padding-top: 102px;
  padding-bottom: 40px;
}

.portfolio_text{
  color:#000000;
  font-family: "Gilroy-Medium";
  Size: 18px;
Line-height: 22px;

}

.portfolio_text:after{
  text-decoration: none;
  display: inline-block;

  width: 3px;
  height: 1px;
  background-color: rgb(112, 34, 34);
  position: absolute;
  
}

.top{
  display: inline-block;
  color:#A3A4AC;
  text-decoration: none;
}

.contact{
  padding-top: 65px;
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    
  
}

.send{
  width: 180px; 
  padding-top: 20px;
}

.ikonka{
  padding: 50px;

  margin: 0 -22px;

}

.icons{
  padding-top: 8px;
}

button{
  border: 0;
  padding:0;
  padding-top: 20px;
}

.end_text{
 font-family: "Gilroy-Medium"; 
position: relative;
bottom: 11px;
left: 3px;
margin: 0%;
 color: #828282;
 font-size: 14px;
line-height: 17px;
}