@font-face{
  font-family: Gilroy-Bold;
  src: url(Gilroy-Bold.ttf);
}
@font-face{
  font-family: Gilroy-Medium;
  src: url(Gilroy-Medium.ttf);
}
.nav{
  font-size: 14px;
text-transform: uppercase;
}

.nav:hover,::after{
opacity: 1;
color: #fce38a;
}

.nav__link{
  display: inline-block;
  color:#A3A4AC;
  text-decoration: none;
  transition: color; .2s linear;
  margin:0 100px;
  padding-top: 30px;
  font-family:"Gilroy-Bold"
}

.nav__link:hover{
  color:Black;

}
.header__iner{
  display: flex;
  justify-content:space-around

}

.lagnuage{
transform: rotate(270deg);  
font-size: 16px;
font-family: "Gilroy-Bold";
}

.aboutme{
font-family: Gilroy-Medium;
font-size: 13px;
}

.zagolovok{
  font-family: "Girloy-Bold";
  font-size: 34px;
}

.medium{
  font-family: "Gilroy-Medium";
  font-size: 14px;
}

.fio{
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family:"Gilroy-Bold"
}

.aboutMe{
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: "Gilroy-Bold";
}

.my_Photo{
display: block;
  padding-top: 30px;
margin-left: auto;
margin-right: auto;
width: 350px;
transform: rotate(90);
}

.text{
  background: #F6F6F6;
  padding-top: 35px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 35px;
}

.skills{
  padding-top: 35px;
  text-align: center;

}

.skills_photo{
  padding-top: 15px;
  width: 150px;
  height: 150px;
  padding-bottom: 15px;
  margin: 0 15px;


} 

.portfolio{
  padding-top: 15px; 
  text-align: center;
  background: #F6F6F6;
  
}

.portfolio_photo{
  justify-content: center;
  width: 700px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto; 
  padding-bottom: 30px; 
}

.portfolio_text{
  color:#000000;
  font-family: "Gilroy-Medium";
  font-size: 13px; 
  
}

.portfolio_text:after{
  text-decoration: none;
  display: inline-block;

  width: 3px;
  height: 1px;
  background-color: rgb(112, 34, 34);
  position: absolute;
  
}

.contact{
  padding-top: 30px;
  background: white;
}

.top{
  display: inline-block;
  color:#A3A4AC;
  text-decoration: none;
}

.send{
  width: 180px; 
}

.ikonka{
  padding-top: 30px;
  margin-bottom: 50px;
  margin: 0 15px;
  

}
